**/.DS_Store
.vs/
.vsconfig
Binaries/
Build/
!Build/BatchFiles/
DerivedDataCache/
Intermediate/
Saved/
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Releases/
Android_*/
IOS/
*.sln
*.VC.db
*.xcworkspace
.idea

Plugins/Puerts/Source/CSharpParamDefaultValueMetas/obj/**

Content/ParagonShinbi/
Content/Asian_town/

